@model MagickyBoardGames.ViewModels.RatingViewViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rating.Rate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating.Rate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating.ShortDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating.ShortDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating.LongDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating.LongDescription)
        </dd>
    </dl>
</div>
<h4>Games</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Games) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>
