@model MagickyBoardGames.ViewModels.RatingViewViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rating.Rate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating.Rate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating.ShortDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating.ShortDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rating.LongDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rating.LongDescription)
        </dd>
    </dl>
</div>
@await Html.PartialAsync("_Games", Model.Games)
<div>
    <a asp-action="Index">Back to List</a>
</div>
