@model MagickyBoardGames.ViewModels.GameViewViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Game.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Game.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Game.PlayerRange)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Game.PlayerRange)
        </dd>
    </dl>
</div>
<h4>Categories</h4>
<table class="table">
    <tbody>
    @foreach (var item in Model.Categories) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
    }
    </tbody>
</table>
<h4>Owners</h4>
<table class="table">
    <tbody>
        @foreach (var item in Model.Owners) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Game.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
