@model MagickyBoardGames.ViewModels.GameListViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Games</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th class="visible-md visible-lg">
                Description
            </th>
            <th class="text-center visible-sm visible-md visible-lg">
                Number Of Players
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Games) {
        <tr>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="hidden-sm">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="col-md-2 text-center hidden-xs">
                @Html.DisplayFor(modelItem => item.PlayerRange)
            </td>
            <td class="col-md-2">
                <a asp-action="Rate" asp-route-id="@item.Id" data-toggle="tooltip" title="Rate" class="fa fa-star" style="color:yellow"></a> |
                <a asp-action="Details" asp-route-id="@item.Id" data-toggle="tooltip" title="View Details" class="fa fa-info"></a> |
                <a asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" title="Edit" class="fa fa-pencil"></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" data-toggle="tooltip" title="Delete" class="fa fa-ban" style="color:red"></a>
            </td>
        </tr>
}
    </tbody>
</table>
