@model MagickyBoardGames.ViewModels.GameListViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Games</h2>
@await Html.PartialAsync("_Filter", Model)
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th class="visible-md visible-lg">
                Description
            </th>
            <th class="text-center visible-sm visible-md visible-lg">
                # Of Players
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Games) {
            <tr>
                <td class="col-md-2">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td class="hidden-sm" data-toggle="tooltip" title="@item.Description">
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td class="col-md-2 text-center hidden-xs">
                    @Html.DisplayFor(modelItem => item.PlayerRange)
                </td>
                <td width="100px" style="text-align: right">
                    <table class="table-condensed">
                        <tr>
                            <td>
                                <a asp-action="Rate" asp-route-id="@item.Id" data-toggle="tooltip" title="Rate" class="fa fa-star fa-2x" style="color: yellow"></a>
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" title="Edit" class="fa fa-pencil fa-2x"></a>
                            </td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@item.Id" data-toggle="tooltip" title="Delete" class="fa fa-trash-o fa-2x" style="color: red"></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
